{% load static %}
<!DOCTYPE html>
<html>
	<head>
        <title>EventeIF - O maior encontro dos IFs do mundo!</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="EventeIF - O maior encontro dos IFs do mundo!">
        <meta name="author" content="cleber">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/basalstyle/style.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>

	</head>

	<body>
        <div class="header-frame row">
            <header class="header header-inline min-h-3 row desktop-12 container" role="banner">

                <div class="site-logo">
                    <h1><a href="/" rel="home">EventIF</h1>
                    <p class="site-description screen-reader-only">O maior encontro dos IFs do mundo!</p>
                </div>

                <nav class="nav-inline" role="navigation">
                    <a href="javascript:void(0);" class="nav-mobile"><i class="fa fa-bars"></i></a>
                    <ul>
                        <li><a data-scroll href="/#overview">Conferência</a></li>
                        <li><a data-scroll href="/#sponsors">Patrocinadores</a></li>
                        <li><a data-scroll href="/inscricao">Inscrição</a></li>
                        <li><a data-scroll href="/contato">Contato</a></li>
                    </ul>
                </nav>

            </header>
        </div>


        <!-- OVERVIEW -->
        <section>
        	<div class="content row padding-bottom-3 desktop-12 container">
                <h1>Entre em Contato</h1>
                <div class="desktop-6">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert success">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form action="." novalidate method="post">
                        {% csrf_token %}
                        
                        <div class="form-row label-block input-text">
                            <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                            {{ form.nome }}
                            {{ form.nome.errors }}
                        </div>
                    
                        <div class="form-row label-block input-text">
                            <label for="{{ form.telefone.id_for_label }}">{{ form.telefone.label }}</label>
                            {{ form.telefone }}
                            {{ form.telefone.errors }}
                        </div>
                    
                        <div class="form-row label-block input-text">
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    
                        <div class="form-row label-block input-text">
                            <label for="{{ form.mensagem.id_for_label }}">{{ form.mensagem.label }}</label>
                            {{ form.mensagem }}
                            {{ form.mensagem.errors }}
                        </div>
                    
                        <p class="btn-row"><input type="submit" value="Enviar!"/></p>
                    </form>
                    
                </div>
            </div>
        </section>

    </body>
</html>